<div>
  <mat-toolbar class="header sl-border-b">
    <mat-toolbar-row class="mat-elevation-z1 bg-white first-row">
      <div class="logo-block">
        <img src="assets/images/InterSystemsIcon.svg" alt="Intersystems logo">
        <span>CLOUD SERVICES PORTAL | Home</span>
      </div>
      <span class="example-spacer"></span>
      <div class="user-block">
        <button mat-button style="font-size: 16px">
          <mat-icon inline color="primary" style="font-size: 20px">account_circle</mat-icon>
          username
        </button>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="second-row">
      <div *ngFor="let item of headerMenu">
        <a [routerLink]="item.link"
           [ngClass]="item.name === 'Reference' ? 'active' : null">
          {{ item.name }}
        </a>
      </div>

      <input matInput type="search" placeholder="Search..." class="search">
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="docs">
    <router-outlet></router-outlet>
  </div>
</div>
